.SudokuCell {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;

  display: flex;
  flex: 1 1 auto;
  width: 10%;

  text-align: center;
  justify-content: center;
  vertical-align: middle;

  font-size: 4.5vw;
}

.SudokuCell span {
  margin: auto;
}

.SudokuCell-col-0 {
  clear: both;
}

.SudokuCell-col-2,
.SudokuCell-col-5 {
  border-right: 2px solid darkgray;
}
.SudokuCell-lin-2,
.SudokuCell-lin-5 {
  border-bottom: 2px solid darkgray;
}

.SudokuCell-locked {
  background-color: var(--background-main-color-2);
}
.SudokuCell-empty {
  color: var(--background-main-color-1);
}
.SudokuCell-editable.SudokuCell-not-empty {
  font-style: italic;
}
.SudokuCell-number-selected {
  background-color: var(--evidence-1);
}
