.SudokuNumbers {
  width: 90vw;
  margin: 0 auto;
  margin-top: 5vw;
  margin-bottom: 5vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SudokuNumber {
  display: flex;
  flex: 1 1 auto;
  width: 1%;

  text-align: center;
  justify-content: center;
  vertical-align: middle;

  font-size: 6vw;

  margin-right: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
}
.SudokuNumber:not(.SudokuNumber-finished) {
  border: 1px solid lightgray;
  box-shadow: 0 0 2px gray;
}
.SudokuNumber-9 {
  margin-right: 0vw;
}
.SudokuNumber span {
  width: 3vw;
  text-align: center;
  margin-left: -1vw;
}
.SudokuNumber sub {
  font-size: 2.5vw;
  text-align: right;
  width: 6vw;
  position: absolute;
}
.SudokuNumber-selected:not(.SudokuNumber-finished) {
  background-color: var(--background-main-color-2);
}

.SudokuNumber-finished {
  color: var(--background-main-color-1);
  border: 1px solid var(--background-main-color-1);
}
