.SudokuNumbers {
  width: 90%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SudokuNumber {
  display: flex;
  flex: 1 1 auto;

  margin-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}
.SudokuNumber:not(.SudokuNumber-finished) {
  border: 1px solid var(--background-main-color-3);
  box-sizing: border-box;
  box-shadow: 0 0 calc(var(--width) / 200) var(--background-main-color-4);
  box-sizing: border-box;
}
.SudokuNumber-9 {
  margin-right: 0%;
}
.SudokuNumber span {
  font-size: 90%;
  text-align: center;
  margin-left: 15%;
  margin-top: 5%;
  width: 100%;
}
.SudokuNumber sub {
  font-size: 50%;
  text-align: right;
  position: relative;
  margin-right: 10%;
}
.SudokuNumber-selected:not(.SudokuNumber-finished) {
  background-color: var(--evidence-1);
}

.SudokuNumber-finished {
  color: var(--background-main-color-1);
  border: 1px solid var(--background-main-color-1);
}
