.pageTransition {
  position: relative;
  width: 100%;
  /* height: 100%; */
}

.pageTransition-enter {
  opacity: 0;
  transform: scale(1.1);
}

.pageTransition-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 300ms, transform 300ms;
}

.pageTransition-exit {
  opacity: 1;
  transform: scale(1);
}

.pageTransition-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
