:root {
  --color-charcoal: #00216a;
  --color-green-blue-crayola: #008dd5;

  --color-baby-powder: #fdfffc;
  --color-ivory: #f7f6f2;
  --color-pewter: #b9b7bd;
  --color-gray: #868b8e;

  --color-fire-engine-red: #bd1c14;
  --color-safety-yellow: #fdff88;

  --background-main-color-1: var(--color-baby-powder);
  --background-main-color-2: var(--color-ivory);
  --background-main-color-3: var(--color-pewter);
  --background-main-color-4: var(--color-gray);

  --evidence-1: var(--color-safety-yellow);
  --evidence-2: var(--color-fire-engine-red);
  --evidence-3: var(--color-charcoal);
  --evidence-4: var(--color-green-blue-crayola);

  --background-error: var(--color-fire-engine-red);
  --evidence-error: var(--color-baby-powder);

  --labels: #000;
}
@import url(./fonts.css);

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 300;
}

body {
  background-color: var(--background-main-color-1);
  overflow: hidden;
}
